<div class="container-fluid footer mt-5">
    <div class="row">
        <!--name-->
        <div class="col-lg-5 mt-3 mb-3">
            <h1>ClayZone</h1>
            <p>LIVE WITH NATURE FOR HEALTHY LIFE</p>
        </div>
        <!--nav-->
        <div class="col-lg-5 mb-3 mt-3">
            <a routerLink="">Home</a>
            <a routerLink="item">Items</a>
            <a routerLink="aboutus">About Us</a>
            <a routerLink="contact">Contact Us</a>
        </div>
        <!--socialmedia-->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
